<footer class="container-fluid custom_background">
		<div class="col-md-6 col-sm-6 text-center">
			<h4>conatct details:-</h4>
			<p>+8100215487</p>
			<p>abc@gmail.com</p>
		</div>
		<div class="col-md-6 col-sm-6 text-center">
			<h4>Follow us:-</h4>
			<p>+8100215487</p>
			<p>abc@gmail.com</p>
		</div>
		<p>Copyright &copy;2018</p>
	</footer>
</body>

<script type="text/javascript">
  $(document).ready(function(){
    $('#preloader').fadeOut('slow');
  });

</script>
</html>