<!DOCTYPE html>
<html>
<head>
	<title><%- page_title %></title>

	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
	.custom_background{
		background: #222;
		color: #fff;
	}
	.custom_background p{
		text-align: center;
	}
</style>
</head>
<body id="body">
<header>			
<div class="navbar navbar-inverse navbar-static-top custom_bg">
	<div class="container-fluid">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand colr_brand"><i class="fa fa-file" aria-hidden="true"></i> <%- page_title %>
	<!-- <center> <%- sub_title %></center> -->
		</a>

			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right hover_efct">
				<!-- 	<li class="active custom_text"><a href="#">America/Chicago</a></li> -->
			
				</ul>
			</div>
	</div>
</div>
</header>